.btn {
	--btn-colorbackground: transparent;
	--btn-color-text: #000;

	background-color: var(--btn-colorbackground);
	border: 1px solid var(--btn-colorbackground);
	border-radius: 4px;
	color: var(--btn-color-text);
	cursor: pointer;
	font-size: 1.6rem;
	padding: 10px;
	min-width: 100px;
}

.btn:disabled {
	--btn-colorbackground: #aaa;
	color: #fff;
	cursor: default;
}

.green {
	--btn-colorbackground: #6ee7b7;
}

.yellow {
	--btn-colorbackground: #fde68a;
}

.red {
	--btn-colorbackground: #fba5a5;
}