.wrapper {
	margin-bottom: 20px;
}

.row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.label {
	font-weight: bold;
	margin-right: 10px;
	min-width: 80px;
}

.input {
	flex-grow: 1;
	padding: 5px;
}